<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.web.cat.CatMapper">
	<select id="createCat" parameterType="map">
    	${CREATE_CAT}
    </select>
    <insert id="registerCat" parameterType="Cat">
        "INSERT INTO CAT(BIRTH,SEX,NAME,HAIRLENGTH,HAIRCOLOR,SPECIES,SIZE,STYLE,ILLHISTORY)values( 
		"#{birth},#{sex},#{name},#{hairlength},#{haircolor},#{species},#{size},#{style},#{illhistory})
   	</insert>
   	<select  id="countCats" resultType="int">
    	SELECT COUNT(*)  FROM CAT 
    </select>
</mapper>