<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.mypet.web.brd.ArticleMapper">

    	<insert id="insertArticle" parameterType="Article">
        	INSERT INTO ARTICLES(ARTICLESEQ, IMAGE, CID, COMMENTS, MSG, RATING, BOARDTYPE, TITLE, CONTENT) VALUES(
           #{articleseq}, #{image}, #{cid}, #{comments}, #{msg}, #{rating}, #{boardType}, #{title}, #{content})
    	</insert>
    	
    	<select id="countArticle" resultType="string">
    		SELECT COUNT(*) FROM ARTICLES
    	</select>
    	<select id="selectAll" resultType = "Article" parameterType="Proxy">
    		<!--SELECT R1.* FROM(
					SELECT *
					FROM ARTICLES
					ORDER BY ARTICLESEQ DESC) R1
			LIMIT 0, 5 -->
			SELECT A.BOARDTYPE AS boardType, A.* FROM(
				SELECT *
				FROM ARTICLES
				ORDER BY ARTICLESEQ DESC) A
			LIMIT ${startRow}, ${pageSize}			
    	</select>
    	<select id="updateArticle" resultType="Article">
    		UPDATE ARTICLES
    			SET TITLE = #{title}, CONTENT = #{content}
    			WHERE ARTICLESEQ LIKE #{articleseq}
    	</select>
    	<select id="deleteArticle" parameterType="Article">
    		DELETE
    			FROM ARTICLES
    			WHERE ARTICLESEQ LIKE #{articleseq}
    	</select>
    	<select id="getArticle" resultType="Article">
    		SELECT * FROM ARTICLES
    		WHERE ARTICLESEQ LIKE #{articleseq}
    	</select>
    	<select id="createArticles" parameterType="map">
    		${CREATE_ARTICLES}
    	</select>
    </mapper>